# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
ENV/
env/
.env

# Data and Marts (Generated or Raw Source)
data/
!data/.gitkeep

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
